/***************
	LAYOUT
/***********************************************/
    .container_inner {

    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .onepage {
        clear: both;
        padding: 0;
        margin-top: 2em;
        top: 46px;
        padding-bottom: calc(100vw / 4);
    }

        .home .onepage .copy .text {
            min-width: 640px;
            max-width: 1040px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

    .single.sfwd-lessons-template-default .onepage {
        top:0;
    }

    .sfwd-lessons-template-default .onepage {
        padding-bottom: calc(100vw / 4);
    }

    .onepage .nf-form-content {
        padding: 0;
    }

    .nf-form-fields-required {
        margin-bottom: 1em;
        font-size: .8em;
    }

    .single-sfwd-courses .onepage {
        margin-top: 0;
        
        padding-bottom: calc(100vw / 3);
    }

    .content {
        min-height: 300px;
    }

    .content .text {}

        .sfwd-quiz-template-default .content .text {
            max-width: 95%;
            margin-left: auto;
            margin-right: auto;
        }

        .content .text .wpProQuiz_results p {
            max-width: 100%;
        }

    .content.nosidebar {
        float: none;
        width: 100%;
    }

    .pageinfo {}

    .coursepage-flexible {
        flex-wrap: nowrap;
    }

    .course-sidebar {
        border-left: 5px solid #ddd;
        padding-left: 1em;
    }

    video {
        max-width: 100%;

    }

    .home video {
        height: calc(100vw / 2.2);

        &.new-home {
          height:100%;
        }
    }

    #container {
        max-width: 100%;
        overflow-x: hidden;
       
    }

/*****************
	ALERTS and MESSAGES
***********************************************/
    .socialink-alert {
        background: tomato;
        padding: .25em;
        color: $white;
    }

    .mepr-unauthorized-message {
        margin: 2em 0;
    }

    .mp_wrapper textarea,
    .mp_wrapper select,
    .mp_wrapper input[type="text"],
    .mp_wrapper input[type="url"],
    .mp_wrapper input[type="email"],
    .mp_wrapper input[type="tel"],
    .mp_wrapper input[type="number"],
    .mp_wrapper input[type="password"] {
        border: 1px solid $sky;
    }

/*****************
	EXPANDERS
***********************************************/
    .expander_section {}

    .expander_section header a:after {
        content: ' +';
    }

    .expander_section header a:hover {
        color: inherit;
    }

    .expander_section header a.activated:after {
        content: ' -';
    }

/*****************
	TYPE
***********************************************/
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 0;
    }

    h1 {}

    h2 {}

    h3 {}

    h4 {}

    h5 {}

    p {
        font-size: 1em;
        margin-bottom: 1.5em;
        margin-top: 0;
        line-height: 1.5em;
        margin-top: 0;
    }

    .fancyfont {}

    .pageinfo h1 {
    /*     background-image: url('images/rule_title.svg'); */
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        font-size: 3em;
        line-height: 1.1;
    }

    .text {}

    .text p {}

    .text p:last-child {
        margin-bottom: 0;
    }

    .text h1 {}

    .text h2 {}

    .text h3 {}

    .text ul,
    .module_wys ul {
        margin-bottom: 1em;
        margin-left: 1em;
    }

    .text ul li {
        list-style-type: disc;
        margin-left: 1.5em;
        line-height: 1.4em;
    }

    .text b,
    .module_wys b,
    .text strong,
    .module_wys strong {
        font-family: $font-secondary;
    }

/*****************
	IMAGECOVERS
***********************************************/
    .backgrounded_image {
        background-position: center center;
        background-size: cover;
        min-height: 400px;
        position: relative;
        width: 100%;
    }

    .backgrounded_image:before {
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .backgrounded_image>div {
        position: relative;
    }

    p:last-child {
        margin-bottom: 0;
    }

/*****************
	LESSONS
***********************************************/
    .single-sfwd-lessons .content.centering_box {
        max-width: 95%;
    }

    .single-sfwd-lessons .content .ld-tab-content img,
    .single-sfwd-lessons .content .ld-tab-content p,
    .single-sfwd-lessons .content .ld-lesson-status,
    .single-sfwd-lessons .content .pageinfo {
        max-width: 1040px;
        margin: 0 auto;
    }

    .single-sfwd-lessons .content .ld-tab-content p {
        margin-bottom: 1em;
    }


    .single-sfwd-lessons .content .text {
        width: 100%;
        max-width: inherit;
    }

/*****************
	MODULES
***********************************************/
    .socialink-modules-extra {
        margin: 2em 0;
        background: $white;
        padding: 2em;
        padding-top: 3em;
        max-width: 1040px;
        margin: auto;
    }

    .content + .socialink-module  {
        margin-top: 2em;
    }

    .socialink-module {
        clear: both;
    }
    .socialink-module:last-of-type {
       /*  padding-bottom: 6em; */
    }

    header.mainheader {
        padding: 1em;
        text-align: center;
    }

    header.mainheader h1 {

        font-size: 1.5em;
        margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
    }



    header.mainheader h1:before {
        content: '';
        background-image: url(#{$imgs-path}logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        float: left;
        width: 100px;
        height: 56px;
    }

    .socialink-module.module-heroimage {
    /*     min-height: calc(100vw / 2); */
    }

    .socialink-module h2 {

        display: block;
        text-align: inherit;
        color: $blackLt;
    }

    .socialink-module .slidecaption h2 {
        background-image: none;

    }

/*****************
	BASIC INPUT AND FORMS
***********************************************/
    .mejs-controls {
      display: none !important;
      visibility: hidden !important;
      }

      .mejs-container {
        background: #fff !important;
      }

    .learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-details .ld-certificate-link,
    .learndash-wrapper .ld-progress .ld-progress-heading .ld-progress-stats .ld-progress-percentage {
        color: #5330F8;
    }


    .ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified.learndash-incomplete .ld_course_grid_price,
    .learndash-wrapper.learndash-widget .ld-progress .ld-progress-bar,
    .learndash-wrapper .ld-progress .ld-progress-bar .ld-progress-bar-percentage,
    .ld-progress-bar-percentage,
    .wpcf7 input[type=submit],
    input[type=submit],
    .button,
    .gradient-default {
        background: rgb(255, 102, 255);
        background: linear-gradient(90deg, rgba(255, 21, 216, 1) 0%, rgba(0, 75, 255, 1) 100%);
    }

    .mainheader.gradient-default {
        background: linear-gradient(90deg, $mint 0%, $blue 100%);
    }

    #mepr-price-box-81,
    .gradient-divided-1 {
        background: rgb(248,112,251);
        background: linear-gradient(90deg, rgb(250, 17, 255) 0%, rgb(145, 59, 255) 100%);
    }

    #mepr-price-box-62,
    .gradient-divided-2 {
      background: rgb(145, 59, 255);
        background: linear-gradient(90deg, rgb(145, 59, 255) 0%, rgb(104, 0, 255) 100%);
    }

    .gradient-divided-3 {
      background: rgb(69,152,208);

    background: linear-gradient(90deg, rgb(104, 0, 255) 20%, rgba(0,75,255,1) 100%);
    }

    input[type=text] {
        padding: .5em;
    }

    .ld-button,
    .wpcf7 input[type=submit],
    input[type=submit],
    .button {
        border: 0 none;
        color: $white;
        display: inline-block;
        padding: 0.5em 1.75em;
        border-radius: 40px;
        font-family: $font-secondary;
    }

    input[type=submit]:hover,
    .button:hover {
        color: $white;
        text-decoration: none;
        border: none;
        box-shadow: 0 0 10px 2px #04040466;
    }

    input[type=submit]:active,
    .button:active {
        box-shadow: inset 0 0 1px #222;
        outline: 0;
    }

    input[type=submit]:focus,
    .button:focus {
        outline: 0;
    }

    .topmenu .search_indicator {
        display: none;
    }

    .text blockquote {
        margin-top: 2em;
    }

    blockquote .button {
        font-style: normal;
        color: $white;
        font-size: .65em;
    }

    .ld-course-list-items.row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        max-width: 95%;
        margin: auto;
    }

    .learndash-wrapper .ld-item-list {
        max-width: 95%;
        margin: auto;
    }

    .ld-course-list-items .ld_course_grid .thumbnail.course img {
        max-height: 200px;
    }

    .learndash-wrapper .ld-alert {
            max-width: 95%;
        margin: auto;
        margin-bottom: 2em;
    }

    .learndash-wrapper .ld-alert-success {

        border-color: $white;
        background-color: $mint;
    }

    .ld-item-title,
    .ld-topic-title {
        font-family: $font-secondary;
        color: $blackLt;
    }

    .learndash-wrapper .ld-table-list a.ld-table-list-item-preview:hover {
        color: $blue;
    }

    .learndash-wrapper .ld-expand-button:hover {
        background-color: $blackLt;
    }

/*****************
	MOBILE HEADER (used for search bar in mobile)
***********************************************/
    .mobile_expansion {
        visibility: hidden;
    }


    .mobile_expansion+label.mobile_expand_search {
        border: none;
    }

    .mobile_expansion:checked+label {
        border: .2em solid;
        height: .78em;
        width: .78em;
        border-radius: 100%;
    }

    .mobile_expansion+label.icon-search {
        border: 0 !important;
        margin-top: -5px;
    }

/*****************
	NAV MENU MARKUP
***********************************************/
    .menu_horizontal li {
        display: inline-block;
        list-style: none;
    }

/*****************
	HEADER
***********************************************/
    #header {
    width: 100%;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    background: $mint;
    }


    // fixing code conflicts
    .centering_box {
      &.extended_centering {
		    &.nav-768  {
	      	width:100%;
	      }
	    }
    }

    .logged-in.admin-bar #header {
        top: 28px;
    }

    .desktop_only.header_inner {
        align-items: inherit;
        height: 84px;
    }

    .logo {
        -webkit-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
        width: 100%;
        max-width: 250px;
    }


    .socialink-scrolling .logo {
        width: 100px;
        transition: all .052s ease;
        margin-top: 10px
    }

    .home .logo {
     /*    margin-top: -300px; */
    }

    .home #header {
        border-bottom: 0;
    }

    .home.socialink-scrolling .logo {

    /*     margin-top: unset; */
        float: left;
    }

    .home.socialink-scrolling #header {

    }

    .logo .sink_img,
    .logo img {
        width: 100%;
        /* for ie */
    }

    .topmenu {
        margin-left: auto;
        margin-top: 32px;
        margin-right: 1rem;

    }

    .socialink-scrolling .topmenu {

    }

    .topmenu ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .topmenu li {
        margin-right: 0.25rem;
    }

    .topmenu li:after {}

    .topmenu li.last_item {
        margin-right: 0;
    }

    .topmenu li a {
        color: $blackLt;

        	  padding: 0.25rem 0.75rem;

        

    }

    .topmenu li[class*="current"] a,
    .topmenu li:hover a {
        text-decoration: none;
    }

    ul.menu-logged-out {
        display: flex;
        align-items: center;
        // margin-top: -55px;
        padding: 0.25rem 0.25rem;


				
	      
    }

    ul.menu-logged-out li {
        font-family: $font-secondary;
        margin: 0;


        	
        
    }

    ul.menu-logged-out li:first-child {
        margin-right: 0;
    }

    

    .socialmedia {}

    .socialmedia a {}

    .wp-video {
        margin: auto;
    }

/*****************
	User Header
***********************************************/

    .userfunctions-header {
      width: auto;
      margin-left: 2em;

    	&.header-logged-in {
    		margin-right: 1rem;
    	}
    }

    .admin-bar {
    	.userfunctions-header {
    		&.header-logged-in {
    			margin-top: 0px;
    		}
    	}
    }

    .logged-in-user-0 .userfunctions-header  {
        // margin-top: 77px;
        position: relative;
        top: 78px;
        margin-top: unset;
    }

    .userfunctions-header .inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;


    }

    .userheader_overview {
        background: #fff685;
        padding: 1em;
        cursor: pointer;
        font-size: .7em;

        text-transform: lowercase;
        display: inline-block;
    }

    .userheader_more {
        min-width: 175px;
    }

    .socialink-scrolling .userheader_overview,
    .userheader_overview:not(.home .userheader_overview) {
      
    }

    .userheader_overview span {
        display: block;
    }

    .userheader_overview .username {
        color: $blackLt;
        text-decoration: underline;
    }

    .userheader_more {
    display: none;
    background: #EFF9F9;
    padding: 1em;
    font-size: .8em;
    font-family: $font-secondary;
    width: 100%;
    position: absolute;
    z-index: 50;
    top: 0;
    width: 200%;
    top: 58px;
    }

    .mindup-userfunctions.opened .userheader_more {
        display: block;
    }

    .userheader_more ul {
        margin: 0;
    }


    .userheader_more ul li {
        margin-left: 0;
        margin-bottom: .45em;
        display: block;
    }

    .userheader_more p {
        margin-bottom: 0;
    }

    .userheader_more ul li a {
        text-decoration: none;
    }

    .userheader_more ul li a:hover {
        border-bottom: 1px solid $sky;
    }

/*****************
	BACKGROUNDS
***********************************************/

/*****************
	HOME
***********************************************/
    .home .content {
        min-height: unset;
    }

    .home .pageinfo h1 {
        display: none;
    }
    .join-section {
        margin: 5em 0;
        background: $white;
        
    }

    .join-section h1 {
        text-align: center;
        font-size: 2em;
    }

    .join-section .description {
        color: #66c;
        text-align: center;
        font-size: 1.1em;
    }

    .founders-columns .flexible {
        justify-content: space-around;
    }

    .founder_column {
        width: 48%;
        /* padding-bottom: 250px; */
    }

    .founder_column h1  {
        font-size: 2em;
    }

    .founder_column:nth-child(2)  .column_contents {
        font-size: .9em;
        /* background-image: url(#{$imgs-path}bg_circle.svg); */
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .founder_column  .column_contents iframe {
        width: 100%;
    }

    // new founder columns
    	.title-back {
    	  h1 {  font-size: rem(54); line-height: rem(59); }
    	}

      .home-back {
				background-image: url(#{$imgs-path}brain-partial-768.png);
        background-size: 708px 363px;
      }

      .expert-head {
	      width: rem(210);
        height: rem(210);
      }

    	h2 {
    		&.large-pink { font-size: rem(30); line-height: rem(36); }
    		&.gradient-head {
          font-size: rem(36);
          line-height: rem(36);
        }
    	}
      .new-founder-columns {
        .card-col {
        	padding-left: 0; padding-right: 0;
        	.card {
        	  margin: rem(17) rem(17) rem(17) rem(17);
        	  min-width: unset;
        	}
        } // override _base @extend
      }

      .four-pillar-columns {
      	&.pillar-cards {
      		.card-col {
      			padding-left: 0; padding-right: 0;
      			.card {
      			  margin: rem(17) rem(17) rem(17) rem(17);
      			  min-width: unset;
      			}
      		} // override _base @extend
      	}
      }

/*****************
	PROFILE
***********************************************/
    .ld-profile-summary {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }

    .ld-profile-heading,
    .ld-profile-edit-link {
        text-align: center
    }

    a.ld-profile-edit-link {
        display: block;
    }

    .socialink-profile .ld-profile-stat strong {
        color: #ff15d8;
    }
    .learndash-wrapper .ld-profile-summary .ld-profile-stats .ld-profile-stat span,
    .socialink-profile .ld-profile-stat span {
        color: $blackLt;
       font-family: $font-secondary;
    }

    .learndash-wrapper .ld-profile-avatar {
        width: 150px;
        height: 150px;
        border: 5px solid #e2e7ed;
    }

    .ld-profile-left {}

    .ld-profile-right {
        margin-left: auto;
    }

    #ld-profile {
        display: flex;
    }

    .learndash-wrapper .ld-course-status .ld-status.ld-status-complete,
    .learndash-wrapper .ld-status-complete,
    .learndash-wrapper .ld-expand-button {
        background-color: $blue;
    }

    .ld-course-title {
       font-family: $font-secondary;
        color: $blackLt;
        margin-left: 1em;
    }

    .ld-item-name {
        align-items: center;
    }

    .ld-certificate-link {
        margin-left: 1em;
    }

    .learndash-wrapper .ld-table-list .ld-table-list-header {
        background-color: $blue;
    }

    .learndash-wrapper .ld-tertiary-background {
        background-color: #636363 !important;
    }

    .learndash-wrapper .ld-expand-button.ld-button-alternate {

        color: $blue;

    }

    .learndash-wrapper .ld-expand-button.ld-button-alternate .ld-icon {
        background: $blue;
        }

        .learndash-wrapper .wpProQuiz_content .wpProQuiz_questionListItem label.is-selected, .learndash-wrapper .wpProQuiz_content .wpProQuiz_questionListItem label:focus-within {
            border-color: $blue;
        }

        .learndash-wrapper .wpProQuiz_content .wpProQuiz_button, .learndash-wrapper .wpProQuiz_content .wpProQuiz_button2, .learndash-wrapper .wpProQuiz_content .wpProQuiz_certificate a.btn-blue {
            background-color: $blue;
        }

        .learndash-wrapper .wpProQuiz_content a#quiz_continue_link {
            background-color: $mint;
            color: #111;
        }

        .learndash-wrapper .course_progress .sending_progress_bar {
            height: 7px;
            background: $mint;
        }

        .learndash-wrapper iframe #wrapper {
            background: #fff !important;
        }

             .mobile-start-overlay.shown {
            background: $blue;
        }

/*****************
	COURSE WIDGET
***********************************************/
    .course-widget-header {
        width: 100%;
        margin-bottom: 2em;
        padding: 1.5em;
        margin-top: 80px;
    }

    .course-widget-header .expander_header {
        color: $white;
        text-transform: uppercase;
    }

    .course-widget-header .expander_contents {
        margin-top: 1em;
    }

    .course-widget-header .flexible {}

    .course-widget-header .flexible .col {
        width: 23%;
        background: #F6EEFC;
        padding: 1em;
       font-family: $font-secondary;
    }

    .course-widget-header .flexible .col p.lbl {
        color: $blackLt;
        font-size: 1.1em;
    }

    .course-widget-header .ld-lesson-item-section-heading {
        display: none;
    }

    .course-widget-header .ld-progress-steps {
        margin-top: 1em;
        font-size: .9em;
    }

    .socialink-app-overwrite .ld-content-actions {
        background-image: url('images/rule_thin.svg');
        border: 0;
        background-repeat: no-repeat;
        background-position: top left;
        padding-top: 3em;
        margin-top: 2em;
    }

    .learndash-wrapper .ld-content-actions .ld-content-action .ld-course-step-back,
    .socialink-app-overwrite .ld-course-step-back {


    }

    .socialink-app-overwrite .ld-course-step-back:before {
        content: '‹';
    }

    .learndash-wrapper .ld-breadcrumbs .ld-status.ld-status-progress {
        background: $mint;
        color: $blue;
    }

    .learndash-wrapper .ld-button {
        background-color: $blue;
    }

/*****************
	ACCOUNT
***********************************************/
    #mepr-account-welcome-message {
        display: none;
    }

    .mepr-nav-item a {
        color: #D6D6D6;
    }

    .mepr-account-change-password {
        color: #878282;
        font-size: .9em;
    }

    [class^="mepr"] a {
      color:inherit;
    }

    .mp_wrapper .mp-form-row,
    .mp-form-row {
        margin-bottom: 2em;
    }

    div#mepr-account-nav {
        border-bottom: 1px solid $sky;
        padding-bottom: 0;
        margin-bottom: 1em;
    }

    .mepr-nav-item {
        margin-right: 1em;
        padding: 0 0 .5em 0;
        display: inline-block;
    }

    .mepr-nav-item:hover,
    .mepr-active-nav-tab {
        border-bottom: 10px solid $sky;
    }

    .mepr-nav-item:hover a {
        text-decoration: none;
    }

    .mepr-price-box-button a,
    .mepr-price-menu.minimal_horizontal .mepr-price-box-button a {
      font-family: $font-secondary;
        background: $white;
        padding: .5em 1.2em;
        border-radius: 20px;
        font-size: .9em;
        color: $blackLt;
        text-transform: uppercase;
        margin: auto;
        display: inline-block;
    }

    .mepr-price-box-button a:hover,
    .mepr-price-menu.minimal_horizontal .mepr-price-box-button a:hover {
        text-decoration: none;
    }

/*****************
	COURSES
***********************************************/
    .ld_course_grid .socialink-courses-modified a.btn-primary {
        color: white;
        text-transform: uppercase;
       font-family: $font-secondary;
        border-radius: 10px;
    }
    .socialink-courses-modified.learndash-complete a.btn-primary {
        background-color: $blue;
        padding: 15px;
        border-radius: 100em;
    }

    .socialink-courses-modified.learndash-incomplete  a.btn-primary {
        background-color: #FF66FF;
            background: linear-gradient( 90deg, #ff15d8 0%, $blue 100%);
            border-radius: 100em;
            border: none;
            padding: 15px;
    }

    .ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified {
        display: flex;
        flex-direction: column;
        min-height: 400px;
    }

    .socialink-courses-modified .entry-title {
        margin: 2em .5em;
        font-weight: inherit;
        font-size: 1.2em;
    }

    .ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified .ld_course_grid_price {
        text-transform: uppercase;
        font-size: .7em;
    }

    .ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified.learndash-complete .ld_course_grid_price {
        background-color: $blue;
    }

    .ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified.learndash-incomplete .ld_course_grid_price {

    }

    .ld-course-list-items .ld_course_grid .thumbnail.socialink-courses-modified .caption {
        padding: 16px;
        color: #333;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        font-size: .8em;
    }

    .ld-course-list-items .ld_course_grid .thumbnail.socialink-courses-modified .caption p {
        margin-top: auto !important;
        max-width: 100%;
    }

    .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
        
        max-width: unset;
        max-width: 100% !important;
    }

/*****************
	PLANS AND PRICING
***********************************************/
    .group-plans-embed {
        max-width: 972px; /* Changed from 800px */
        margin: auto;
    }

    .socialink-modified .mepr-price-boxes {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .socialink-modified.mepr-price-menu {
        margin: 3em 0;
    }


    .mepr-price-menu.minimal_horizontal .mepr-price-boxes.mepr-2-col .mepr-price-box,
    .socialink-modified .mepr-price-menu.minimal_horizontal .mepr-price-boxes .mepr-price-box,
    .socialink-modified .mepr-price-box {
        margin-right: 1em;
        border-radius: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 1em;
        color: $white;
        width: 30%;
        min-height: 300px;
    }

    .socialink-modified .mepr-price-box-foot {
        margin-top: auto;
    }
    .socialink-modified .mepr-price-menu.minimal_horizontal .mepr-price-box-button {
        margin: 0;
    }
    .socialink-modified .mepr-price-menu.minimal_horizontal .mepr-price-box-footer {
        margin: 0;
    }

    .socialink-modified .mepr-price-menu.minimal_horizontal {
        margin: 2em auto;
    }

    .mepr-price-menu.minimal_horizontal .mepr-price-box {
        text-align: left;
    }

    .pricebox-header h2,
    .mepr-price-menu.minimal_horizontal .mepr-price-box-title {
        font-size: 1.2em;
        font-family: $font-secondary;
        margin-top: 0;
        color: $white;
        font-family:inherit;
        margin-bottom: 1em;
    }

    .pricebox-header h3,
    .mepr-price-menu.minimal_horizontal .mepr-price-box-price {
       font-family: $font-secondary;
        font-size: .9em;
        border-bottom: 3px solid $white;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    .mepr-price-box-heading {
        margin-bottom: 10px;
    }

    .mepr-price-menu.minimal_horizontal.minimal_gray_horizontal .mepr-price-box .mepr-price-box-benefits .mepr-price-box-benefits-list .mepr-price-box-benefits-item {
        border-bottom: 0;
        font-size: .9em;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .mepr-price-box.socialink-extra ul li {
        list-style: inside none;
        margin-left: 0;
          margin-bottom: 10px;
        font-size: .9em;
    }

    .mepr-price-box.socialink-extra ul {
        margin-left: 0;
    }

/*****************
	FOOTER
***********************************************/
    .footerlogo {
        background-image: url(#{$imgs-path}logo_full.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: left bottom;
        display: block;
        height: 130px;
        position: absolute;
        bottom: 0;
        width: 33%;
        display: none;
    }

    .subfooter {
        background-image: url(#{$imgs-path}bg_footer.png);
        height: 400px; /* changed from 428px*/
        background-size: contain;
        background-repeat: no-repeat;
        width: 75%; /* changed from 80% */
    /*    float: right;
        margin-top: calc(-1 * (100vw / 6));*/ /* Removed */
        /*padding: 50px 50px 145px 40%;*//* Removed */
        padding: 50px 50px 52px 35%;
        background-position: right;
        position: absolute; /* Added */
        bottom: 180px; /* Added */
        right: 0; /* Added */
    }

    .carousel-container {
        position: relative;
        color: $white;
        margin-top: 8em;
    }

    .carousel-container .body {
        font-style: italic;
    }

    .carousel-container .body p:last-child {
        margin-bottom: 0;
    }

    .carousel-container .fld-name p {
        text-align: right;
        margin-bottom: .25em;
    }

    .carousel-container .fld-subtitle__role p {
        text-align: right;
        margin-bottom: 0;
        text-transform: uppercase;
        font-family: $font-secondary;
    }

    .carousel-container .slideshow_area {
        position: absolute;
        left: 10%;
        width: 80%;
    }

    .carousel-container .slide_nav {
        top: 10px;
    }

    .carousel-container svg {
        fill: $white;
    }

    #footer {
        height: 300px; /* RJO Added */
        clear: both;
        margin-top: 300px;
        margin-top: 0;
        padding-top: 2em;
        position: relative;
        overflow: inherit;
        background-size: 40%; /* Changed from 40% */
        background-repeat: no-repeat; 
        background-position: right bottom;
        background-image: url(#{$imgs-path}footer_brain.png);
        background-color: $mint;
        top: auto;
    }

                @media(max-width: 1340px) {
                    #footer {
                        background-size: 35%; /* Changed from 35% */
                    }
                }

    .footer_inner {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .userfunctions-footer {
        margin-right: 2em;
    }


    .userfunctions-footer>.flexible {
        align-items: center;
        font-family: $font-secondary;
    }

    .userfunctions-footer a.button {
        margin-left: 1em;
    }

    .footermenu {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 4em;
      font-family: $font-secondary;
        font-size: .8em;
        align-items: center;
        padding-right: 2em;
        position: absolute;
        bottom: 1em;
    }

    .footercredits {}

    .footercredits a {}

    .sitecredits {
        margin-left: 2em;
    }

    .sitecredits p {
        margin-bottom: 0;
    }

    .sitecredits a {}

    .sinkcredits {
        display: none;
    }

    .sinkcredits p {
        margin-bottom: 0;
    }

    .sinkcredits a {}

/*****************
	RELATED
***********************************************/
    .related_content {
        text-align: center;
        margin: 2em 0;
    }

    .related_content .field_divlist {
        display: -ms-flexbox;
        display: flex;
        margin: 2em 0;
    }

    .related_content .field_divlist>div {
        background: #ccc none repeat scroll 0 0;
        border-right: 1px solid $white;
        height: 250px;
        min-width: 25%;
        padding: 1em 2%;
    }

    .metadatum {
        margin-bottom: 2em;
    }

    .metadatum .meta_item {
        margin-bottom: 1em;
    }

    .metadatum .meta_item .lbl {}

    .metadatum .meta_item .val {}

/*****************
	ARCHIVE
***********************************************/
    article.archive_post {
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 1em;
        padding-bottom: 1em;
        flex-wrap: wrap;
    }

    aside.readmore {
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .archive_post.griditem {
        flex-direction: column;
        width: 30%;
        margin-right: 1%;
    }

    .archive_post.griditem h2 {
        margin-top: 1em;
        background: none;
    }

    article.archive_post.archivepost_last {
        border-bottom: 0;
    }

    .archive_post .featimg {
        /* margin-right: 1em; */
        width: 100%;
        flex-shrink: 0;
        justify-content: center !important;

    }

    .module-addcontent .archive_post .featimg {
        /* margin-right: 1em; */
        width: 100%;
        background: $white;
        padding: 1em;
        display: flex;
        min-height: 250px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: center !important;
    }

    .archive .archive_post .featimg {
            width: 150px;
    }
    .archive_post.thumb_exists .mainpost {
        width: calc(100% - 170px);
    }

    article.archive_post h2 {
        font-size: 1.2em;
        margin-bottom: .2em;
    }

    article.archive_post p.post_header_meta {
        font-size: 90%;
    }

    article.archive_post .post_meta {
        border-top: 1px solid #eaeaea;
        padding-top: 5px;
        font-size: 90%;
    }

    .module-addcontent .module_inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    article.archive_post a.readmore {
        font-size: 90%;
        text-transform: uppercase;
    }

    article.archive_post a.readmore:after {
        content: '>';
        padding-left: 2px;
    }

    .relatedposts {
        clear: both;
        border-top: 1px solid $mint;
        padding-top: 1em;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .relatedposts ul {
        display: flex;
        margin: 0;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .relatedposts li {
        list-style: none outside none !important;
    }

    .relatedposts .prev {
        margin-right: auto;
    }

    .relatedposts .next {
        margin-left: auto;
    }

    .single_relatedposts {}

    .archive_relatedposts {}

    p.readmore {
        margin-bottom: 0;
    }


/* tweaners responsive queries *****************************************************/
    @media (min-width: 768px) and (max-width: 1450px) { 

        .logo {
            max-width: 200px;
            margin-top: 19px;
        }

        ul.menu-logged-out {
            font-size: 1vw;
            // margin-top: -55px;
        }

        .topmenu {
               font-size: 1vw;
            /*    margin-top: 44px; */
            margin-right: 1rem;
        }

        .logged-in-user-0 .userfunctions-header {
            // margin-top: 71px;
            margin-left: 14px;
            top: 76px;
        }
        

    }


    @media (min-width: 768px) and (max-width: 1040px) { /* tweaners */
        .topmenu {
               font-size: 1vw;
            /*    margin-top: 44px; */
            margin-right: 0.25rem;
        }


        .topmenu li a {
        	  padding: 0.25rem 0.25rem;

        }


        .content {
            padding-left: 1em;
            padding-right: 1em;
        }

        .header-image-text {
            padding: 2em;
        }

        .subfooter {
            padding: 50px 50px 145px 40%;
            width: 90%; /* added & changed from 80% */
            bottom: 140px;
            /*margin-top: calc(-1 * (100vw / 4.5));*/ /* Removed */
        }

        /*added this from styles to make font smaller*/
        .slideinner {
            font-size: 0.75rem; /*Changed from 1.2em*/
        }

        .carousel-container {
            margin-top: 10em;
            font-size: .8em;
        }

        .userfunctions-header {

        }

        ul.menu-logged-out {
            font-size: 1vw;
            margin-top: -53px;
        }

        .logo {
            max-width: 140px;
            margin-top: 37px;
        }

        .logged-in-user-0 .userfunctions-header {
            // margin-top: 71px;
            margin-left: 14px;
            top: 70px;
        }


    } 


    @media (min-width: 768px) and (max-width: 830px) {

        .subfooter {
            padding: 50px 50px 145px 40%;
            width: 90%; /* added & changed from 80% */
           /* margin-top: calc(-1 * (100vw / 3.5));*/ /* Removed */
        }
        /*added this from styles to make font smaller*/
        .slideinner {
            font-size: 0.7rem; /*Changed from 1.2em*/
        }

        .logo {
            max-width: 140px;
            margin-top: 37px;

        }

        .logged-in-user-0 .userfunctions-header {
            // margin-top: 73px;
            margin-left: 9px;
            top: 69px;
        }
        .topmenu {
        	margin-right: 0.25rem;

        }
        .topmenu li a {
        	  padding: 0.25rem 0.25rem;

        }
    } 

    @media (min-width: 1600px) {
        .userfunctions-footer {
         
            margin-top: 2em;
        }
    }
/* end tweaners please put desktop css above this section* ***************************************************/