// original wp.basic.css
	.entry-content img {
		margin: 0 0 1.5em
	}

	.alignleft, img.alignleft {
		display: inline;
		float: left;
		margin: 7px 1.5em 10px 0;
	}

	.alignright, img.alignright {
		display: inline;
		float: right;
		margin: 7px 0 10px 1.5em;
	}

	.aligncenter, img.aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto
	}

	.wp-caption.aligncenter {
		text-align: center;
		margin: auto;
		margin-bottom: 2em;
	}

	.wp-caption {
		margin-bottom: 1.5em
	}

	.wp-caption img {
		border: 0;
		margin: 0;
		padding: 0
	}

	.wp-caption p.wp-caption-text {
		margin: 0
	}

	.wp-smiley {
		max-height: 1em;
		margin: 0!important
	}

	.gallery dl {
		margin: 0
	}

	.gallery-caption {
		margin: -1.5em 0 0
	}

	.content ol, .content ul {
		margin-bottom: 1em
	}

	.content ol, .content ol li {
		list-style-type: decimal;
		margin-left: 1em
	}

	.content .commentarea ol, .content .commentarea ol li, ol, ol li {
		margin-left: 0
	}

	ol, ol li {
		list-style-type: decimal;
		padding-left: 1em
	}

	.content #comments ol, .content #comments ol li {
		list-style: none;
		padding: 0
	}

	.content #comments ol li.comment {
		background: #f8f8f8;
		padding: 1em
	}

	.content #comments img.avatar {
		margin-right: .5em
	}

	.content #comments .comment-author {
		font-size: 90%;
		margin-bottom: 1em
	}

	.content #comments p.form-allowed-tags {
		display: none
	}

	.content #comments #respond label {
		display: inline-block;
		min-width: 150px
	}

	blockquote {
		// font-style: italic
	}

	blockquote.left {
		float: left;
		margin-left: 0;
		margin-right: 20px;
		text-align: right;
		width: 33%
	}

	blockquote.right {
		float: right;
		margin-left: 20px;
		margin-right: 0;
		text-align: left;
		width: 33%
	}

	.wp-caption {
		border: 0;
		font-size: .75em;
		text-align: center;
		background: 0 0;
		padding: 0;
		margin: 10px
	}

	.debug, .deprecated, .devnote {
		display: none!important
	}

	.logged-in #devnote_alert, .logged-in .devnote {
		background: #ff0;
		border: 2px dotted #000;
		display: block!important;
		padding: 1em
	}

	.logged-in .devnote {
		color: #333!important;
		font-weight: 700!important
	}

	.logged-in #devnote_alert {
		min-height: 200px;
		position: absolute;
		right: 0;
		top: 0;
		width: 500px
	}