// colors from original
	$magenta:	#FF15D8;
	$pink:		#FFC5FF;
	$blue:		#004BFF;
	$sky: 		#6DCFF6;
	$teal:		#00D587;
	$mint:		#9EF3C7;
	$blackLt:	#111111;
	$blackLtA: rgba(17,17,17,0);
	$white:		#FFFFFF;

	$greyDk:	#666666;
	$greyLt:	#DDDDDD;
	$greyUlLt:	#F4F4F4;

	// colors from styleguide
		$sand:			#80715f;
		$stone:			#A29B95;

	$red:			#AD2424;

	// Only for gradients
		$color-stop-1:	$magenta;
		$color-stop-2:	#6236F0;
		$color-stop-3:	#962BE8;
		$color-stop-4:	$blue;


	$color-background-primary: $white;
	
	
	$color-transparent: rgba(35, 31, 32, .95) none repeat scroll 0 0;
	
	$color-error: $red;
	
	$color-message: #31708f;
	$search-primary-color: $white;


	$color-primary:		$magenta;
	$color-secondary:	$blue;
	$color-tertiary:	$teal;
	$color-base-text: $blackLt;


	$color-background-attention: $color-primary;
	$color-warning: $color-secondary;
	$color-success: $color-primary;

	$color-border: darken( $color-tertiary, 20%);
