// *********************
// URL PATHS
// *********************/
$font-path: '../fonts/mywebfonts/webFonts/' !default;
$imgs-path: '../../images/' !default;

// Extra variables from original
	$max-centering: none;
	$legible-max-width: 95%;
	$border-thin: 1px solid $color-border;
	$border-emphasis: 1px solid darken($color-border, 50%);
	$border-thick: 3px solid $color-border;
	$drop-shadow-module: 1px 1px 4px 2px $greyLt; //#CCCCCC
	$drop-shadow-button-hover: 0 4px 7px opacify($blackLtA, 0.23), //rgba(0, 0, 0, .23),
	0 8px 25px opacify($blackLtA, 0.05); //rgba(0, 0, 0, .05)
	$drop-shadow-button-press: inset 0 4px 7px opacify($blackLtA, 0.23), // rgba(0, 0, 0, .23),
	inset 0 8px 25px opacify($blackLtA, 0.05); //rgba(0, 0, 0, .05);
	$inset-shadow: inset 0 0 4px 2px $blackLt; //#333
	$round-corners: 2px;
	$transition-default: all 0.2s ease-in-out;
	$hero-width: 1240;
	$hero-height: 413;
	$aspect-ratio-hero: #{$hero-width / $hero-height};