// type
	.footnote   { font-size: rem(11); line-height: rem(15); }
	p.sm-body   { font-size: rem(16); line-height: rem(22); }
	p.lg-body   { font-size: rem(20); line-height: rem(28); }

// headers 
	h1 { font-size: rem(48); line-height: rem(56); }
	h2 { font-size: rem(44); line-height: rem(53); }
	h3 { font-size: rem(32); line-height: rem(38); }
	h4 { font-size: rem(24); line-height: rem(30); }
	h5 { font-size: rem(22); line-height: rem(26); }
	h6 { font-size: rem(20); line-height: rem(24); }


	.text-why {
		font-size: rem(22); line-height: rem(26);
	}

// nav header
		.top-nav {
			min-height: rem(84);

			&#nav-home,
			&#nav-page {
				background-color: $white;

				// nav guts : BEGIN
					#navbarScroll {
						&.navbar-collapse {
							top: 84px;
							&.show {
								top: 84px;
							}
						}  
						.navbar-nav {
							.nav-item {
								padding: rem(15) 0;
								.nav-link {


								}
								&.dropdown {
									.dropdown-menu { }
									
								}
							}
						}
					}
					.cta-buttons {

					}
				// nav guts : END
			}

			// logo differences : BEGIN
				&#nav-home {
					.mindup-logo {
						// border: 1px solid #0f0;
						// background-image: url(#{$imgs-path}logocard-mindup-for-life@1x.svg);
						// background-size: contain;
						// background-position: center;
						// background-repeat: no-repeat;
						height: rem(156);
						width: rem(250);
						position: absolute;
						top: 1px
					}
				}
				
			// logo differences : END
		}

// sections & dividers
	.padded-top-40, .padded-40 { padding-top: rem(30); }
	.padded-bottom-40, .padded-40 { padding-bottom: rem(30); }

	.padded-top-65, .padded-65 { padding-top: rem(55); }
	.padded-bottom-65, .padded-65 { padding-bottom: rem(55); }

	.padded-top-80, .padded-80 { padding-top: rem(70); }
	.padded-bottom-80, .padded-80 { padding-bottom: rem(70); }

	.header-home {
		margin-bottom: 76px;
		&:after {
			margin-top: rem(66);
		}
		h1 { font-size: rem(30); line-height: rem(34); }
		p  { font-family: $sans; font-size: rem(24); line-height: rem(28); }
	}

	.header-pages {
		.mission, .for-schools, .for-families {
			margin-top: rem(168);
			height: rem(209);
		}
		&:before {
			height: rem(87);
		}
	}

	.header-video {
		
		// max-height: rem(337);
	}

	.goldie-section {
		.goldie-headshot {
		height: rem(242);
		width: rem(242);

			@include image-2x('#{$imgs-path}goldie-hawn-bluestroke@2x.png', 242px, 242px);
		}

		.content { font-size: rem(17); line-height: rem(22); }
	}

	.brain-section {
		&:before {
			height: 185px;
		}
	}
	.chart-section {
		padding-top: 132px;
	}

	#expert-section, #case-study {
		.title-back {
			h1 {  font-size: rem(54); line-height: rem(59); }
		}

		.expert-head {
			width: rem(210);
			height: rem(210);
		}

		h2 {
			&.large-pink { font-size: rem(30); line-height: rem(36); }
			&.gradient-head {
				font-size: rem(36);
				line-height: rem(36);
				}
		}
	}

	#board-directors, #board-science, #team {
		.video-header-container {
			.video-header-bar {
				height: rem(140);

				&:before {
					top: calc((100%) - (200px / 2));
				}
			}
		}
	}

	.sel-section {
		min-height: rem(244);
		max-height: rem(262);

		h5 { font-size: rem(20); line-height: rem(26); }
	}

	.sel-bubble-img {
		left: 0;
		top: -200px;
	}

	.bubble-img {
		max-width: 100%;
		max-height: 100%;
	}

	.casel-img { max-height: unset; }

	// founder-message 
		#founder-message {
			.goldie-headshot {
				max-width: 100%;
				max-height: 100%;
			}
		}

	// membership page
		.member-bar-1,
		.member-bar-2,
		.member-bar-3 {
			.inner-bar-left { padding-left: 0;   p { font-size: rem(22); line-height: rem(26); } }
	 		.inner-bar-right { padding-right: 0; }
	 	}

	 	.member-blurb { font-size: rem(18); line-height: rem(24); }

	// research page
		.ven-group {
			.ven-circle {
				width: rem(186);
				min-width: rem(186);
				max-width: rem(186);
				height: rem(186);
				.ven-text {
					width: rem(146);

					p {
						font-size: rem(16  );
						line-height: rem(20);
					}

				}
			}
		}

	.donate-logos {
		max-width: rem(360);
		.cc-comp {
			height: rem(33);
			width: calc(360px / 5);
		}
	}
	.contact_links {
		.contact_links_wrapper{
			.contact_links_figure{
				margin-right: 30px;
				min-width: 122px;
				height: 122px;
				img{
					max-width: 65px;
				}
				span { &:before { font-size: rem(65); } }
			}
			.contact_links_heading{
				font-size: 20px;
				line-height: 26px;
			}
			.contact_links_mail{
				font-size: 20px;
				line-height: 32px;	
			}
			.contact_links_para{
				font-size: 16px;
				line-height: 24px;
			}
			.contact_links_social{
				li{
					margin-right: 30px;
				}
			}
		}
	}



// member cards
	.membership-cards {
		max-width: rem(700);
		
		.row {
			.col {
				.card {
					&.lone-card {
						.card-header { border-bottom: unset; border-right: 1px solid $white; }
					}
				}
			}
		}

		&.icon-heads {
			.row {
				.col {
					.card {
						.card-header {
							.card-head-container {
								height: rem(72);
							}
						}
					}
				}
			}
		}
	}

// new founder columns
	.new-founder-columns {
		.card-col {
			padding-left: 0; padding-right: 0;
				.card {
					margin: rem(17) rem(5) rem(17) rem(5);
				}
			} // override _base @extend
	}

// footer 
	footer {
		background-size: 553px 553px;
		background-position: bottom -369px right -268px;
		padding-top: 40px;
		padding-bottom: unset;
	}

	/* mindup program */
	.program_section{
		.program_section_heading{
			font-size: 54px;
			line-height: 65px;
			margin-bottom: 40px;
			margin-top: 33px;
		}
		.program_section_para{
			font-size: 22px;
			line-height: 26px;
			margin-bottom: 0;
		}
	}
	.pillar-blocks{
		padding-bottom: 50px;
		.pillar-blocks_heading{
			font-size: 44px;
			line-height: 53px;
			margin-bottom: 50px;
		}
		.mission-blocks{
			.mindup_program_header{
				margin-bottom: 15px;
				.icon-neuroscience-88x88{
					margin-right: 5px;
					&before{
						color: $magenta; 
					}
					
				}
			}
			.mindup_program_para{
				font-size: 15px;
				line-height: 21px;
			}
		}
	}
	.pillars-section{
		padding-top: 132px;
		
		.mind-up-research-pill{
			font-size: 26px;
			line-height: 36px;
			margin-bottom: 40px;
		}
		.pillar-section_wrapper{
			.pillars-section_para{
				font-size: 18px;
				line-height: 22px;
			}
		}
	}
	/* mindup program */

	/* Contact Page */
	.contact-page{
		padding: 81px 34px 150px;  
		.contact-page_heading{
			font-size: 54px;
			line-height: 65px;
			margin-top: 30px;
			margin-bottom: 50px;
		}
		.membership-cards{
			.membership-card{
				width: 100%;
				.card{
					.card-title{
						font-size: 20px;
						line-height: 23px;
						margin-bottom: 27px;
					}
				}
			}
		}
		.contact_links{
			
		}
	}


	.footer-slider{
		padding: 50px 125px 70px;
		.carousel-inner{
	 		.carousel-item{
		 		.slider-description{
				  margin: 0px 0px 25px;
				  font-size: 16px;
				  line-height: 20px;
		 		}
		 		.slider-author{
		 			font-size: 15px;
					  line-height: 18px;
		 		}
	 		}
 		}
 		.carousel-controls{
 			left: -86px;
 			&.carousel-control-prev{
    		right: -86px;
    	}
 		}
 	}