/*********************
BUTTON DEFAULTS
*********************/

%button {
    position: relative;
    display: inline-block;
    margin: 0.25rem rem(17);
    padding: rem(8) rem(27) rem(10) rem(27);
    border: 0;
    border-radius: rem(20);
    text-decoration: none;
    font-family: $font-secondary;
    font-size: rem(16);
    line-height: rem(18);
    // letter-spacing: rem(2);
    // text-transform: uppercase;
    @include transition(all 0.3s ease-in-out);
    &:hover, &:focus {text-decoration: none;}
    &:active {
        text-decoration: none;
        // top: 1px; // adds a tiny hop to the click
    }
    &:disabled {
        &:hover, &:focus {
            cursor: not-allowed;
        }
    }
} // end .button

.button {
    @extend %button;
}

%btn-grad-1 {
    @extend %button;
    @include css-gradient($color-stop-1,$color-stop-4);
    color: $white !important;

    &:hover, &:focus {
        background: $color-primary ;
        color: $white !important;
    }

    &:disabled {
        color: $white !important;
        background-color: $greyLt;

        &:hover, &:focus, &:active {
            color: $white !important;
            background-color: $greyLt;
        }
    }
}

%btn-grad-2 {
    @extend %button;
    @include css-gradient($mint,$color-stop-4);
    color: $white !important;

    &:hover, &:focus {
        background: $mint;
        color: $white !important;
    }

    &:disabled {
        color: $white !important;
        background-color: $greyLt;

        &:hover, &:focus, &:active {
            color: $white !important;
            background-color: $greyLt;
        }
    }
}

%btn-white {
    @extend %button;
    background: $white;
    color: $blackLt !important;

    &:hover, &:focus {
        background: $white;
        color: $color-primary !important;
    }

    &:disabled {
        color: white(0.7) !important;
        background-color: white(0.2);

        &:hover, &:focus, &:active {
            color: white(0.7) !important;
            background-color: white(0.2);
        }
    }
}

.btn-grad-1 {
    @extend %btn-grad-1; 
}

.btn-grad-2 {
    @extend %btn-grad-2; 
}

.btn-white {
    @extend %btn-white; 
}