// Centering.
// Define vertical, horizontal, or both position
@mixin center($position) {
    position: absolute; 
    
    @if $position == 'vertical' {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
    }
    @else if $position == 'both' {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
// Using the mixin
// .foo {
//     @include center(both);
// }
// .foo-parent {
//     position: relative;
// }

/*********************
TINTS/SHADES
https://css-tricks.com/snippets/sass/tint-shade-functions/
*********************/

/// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

@mixin black-and-white() {
	filter: grayscale(100%);
}

@mixin color() {
	filter: grayscale(0%);
}

/*********************
TRANSITION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
    // defining prefixes so we can use them in mixins below
    $prefixes: "-webkit-", "";

    @each $prefix in $prefixes {
        #{$prefix}transition: $transition;
    }
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/

/* @include css-gradient($color-stop-1, $color-stop-4, 130deg); */
@mixin css-gradient($top-color, $bottom-color, $direction: 130deg) {
    background: $top-color;
    background: -webkit-linear-gradient($direction, $top-color 0, $bottom-color 100%);
       background: -moz-linear-gradient($direction, $top-color 0, $bottom-color 100%);
        background: -ms-linear-gradient($direction, $top-color 0, $bottom-color 100%);
         background: -o-linear-gradient($direction, $top-color 0, $bottom-color 100%);
            background: linear-gradient($direction, $top-color 0, $bottom-color 100%);
    // background: -webkit-gradient(left top, right bottom, color-stop(0, $top-color), color-stop(48.85%, $top-color), color-stop(51.94%, $bottom-color), color-stop(100%, #e6e6e6));
    
}

/* @include gradient-one(#dfdfdf,#f8f8f8, 130deg); */
@mixin gradient-one($top-color: $color-stop-1, $bottom-color: $color-stop-2, $direction: 130deg) {
    background: $top-color;
    background: -webkit-linear-gradient($direction, $top-color 0, $bottom-color 100%);
       background: -moz-linear-gradient($direction, $top-color 0, $bottom-color 100%);
        background: -ms-linear-gradient($direction, $top-color 0, $bottom-color 100%);
         background: -o-linear-gradient($direction, $top-color 0, $bottom-color 100%);
            background: linear-gradient($direction, $top-color 0, $bottom-color 100%);
    // background: -webkit-gradient(left top, right bottom, color-stop(0, $top-color), color-stop(48.85%, $top-color), color-stop(51.94%, $bottom-color), color-stop(100%, #e6e6e6));
    
}

/* @include gradient-two(#dfdfdf,#f8f8f8, 130deg); */
@mixin gradient-two($top-color: $color-stop-3, $bottom-color: $color-stop-4, $direction: 130deg) {
    background: $top-color;
    background: -webkit-linear-gradient($direction, $top-color 0, $bottom-color 100%);
       background: -moz-linear-gradient($direction, $top-color 0, $bottom-color 100%);
        background: -ms-linear-gradient($direction, $top-color 0, $bottom-color 100%);
         background: -o-linear-gradient($direction, $top-color 0, $bottom-color 100%);
            background: linear-gradient($direction, $top-color 0, $bottom-color 100%);
    // background: -webkit-gradient(left top, right bottom, color-stop(0, $top-color), color-stop(48.85%, $top-color), color-stop(51.94%, $bottom-color), color-stop(100%, #e6e6e6));
    
}

/* @include gradient-two(#dfdfdf,#f8f8f8, 130deg); */
@mixin gradient-split($top-color: $color-stop-3, $bottom-color: $color-stop-4, $direction: 90deg) {
    background: $top-color;
    background: -webkit-linear-gradient($direction, $top-color 0, $top-color 50%, $bottom-color 50%, $bottom-color 100%);
       background: -moz-linear-gradient($direction, $top-color 0, $top-color 50%, $bottom-color 50%, $bottom-color 100%);
        background: -ms-linear-gradient($direction, $top-color 0, $top-color 50%, $bottom-color 50%, $bottom-color 100%);
         background: -o-linear-gradient($direction, $top-color 0, $top-color 50%, $bottom-color 50%, $bottom-color 100%);
            background: linear-gradient($direction, $top-color 0, $top-color 50%, $bottom-color 50%, $bottom-color 100%);
    // background: -webkit-gradient(left top, right bottom, color-stop(0, $top-color), color-stop(48.85%, $top-color), color-stop(51.94%, $bottom-color), color-stop(100%, #e6e6e6));
    
}

/* @include css-boxshadow(X-axis,Y-axis,Blur,Spread,Red,Green,Blue,Opacity); */
@mixin css-boxshadow($x: 0px, $y: 3px, $blur: 3px, $s: 0px, $r: 0, $g: 0, $b: 0, $o: 0.5) {
    -webkit-box-shadow: $x $y $blur $s rgba($r,$g,$b,$o);
       -moz-box-shadow: $x $y $blur $s rgba($r,$g,$b,$o);
            box-shadow: $x $y $blur $s rgba($r,$g,$b,$o);
}

/* @include css-inset-boxshadow(inset, X-axis,Y-axis,Blur,Spread,Red,Green,Blue,Opacity); */
@mixin css-inset-boxshadow($i: inset, $x: 0px, $y: 3px, $blur: 3px, $s: 0px, $r: 0, $g: 0, $b: 0, $o: 0.5) {
    -webkit-box-shadow: $i $x $y $blur $s rgba($r,$g,$b,$o);
       -moz-box-shadow: $i $x $y $blur $s rgba($r,$g,$b,$o);
            box-shadow: $i $x $y $blur $s rgba($r,$g,$b,$o);
}


/*********************
Retina Images
*********************/
// easy retina-ready images
// http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
@mixin image-2x($image, $width, $height) {
  @media (-webkit-min-device-pixel-ratio: 2),
         (min--moz-device-pixel-ratio: 2),
         (-o-min-device-pixel-ratio: 2/1),
         (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin retina-fixes() {
    @media screen and (-webkit-min-device-pixel-ratio: 2),
           (min--moz-device-pixel-ratio: 2),
           (-o-min-device-pixel-ratio: 2/1),
           (min-device-pixel-ratio: 2),
           (min-resolution: 192dpi),
           (min-resolution: 2dppx) {
            @content;
           }
}

// use full size of 1x image
// @include image-2x("../img/NAME@2x.png", WIDTHpx, HEIGHTpx);

/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    -ms-box-sizing: $type;
    box-sizing: $type;
}

/*--------------------------------------------------
Flexbox SASS mixins
The spec: http://www.w3.org/TR/css3-flexbox
https://gist.github.com/richardtorres314/26b18e12958ba418bb37993fdcbfc1bd

Checkout this Flexbox guide for more info:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/

2018: probably can remove these with autoprefixer(?)
---------------------------------------------------*/

/*@include flexbox(); */
// Flexbox display
@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
    -webkit-flex-flow: $flow;
    -moz-flex-flow: $flow;
    -ms-flex-flow: $flow;
    flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
    -webkit-order: $val;
    order: $val;
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
    -webkit-flex-grow: $grow;
    -moz-flex-grow: $grow;
    -ms-flex-grow: $grow;
    flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
    -webkit-flex-shrink: $shrink;
    -moz-flex-shrink: $shrink;
    -ms-flex-shrink: $shrink;
    flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
    -webkit-flex-basis: $width;
    -moz-flex-basis: $width;
    -ms-flex-basis: $width;
    flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    justify-content: $justify;
    -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
    -webkit-align-content: $align;
    -moz-align-content: $align;
    -ms-align-content: $align;
    align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    align-items: $align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
    -webkit-align-self: $align;
    -moz-align-self: $align;
    -ms-align-self: $align;
    align-self: $align;
}


// Remove added space around text from browser
// See here: http://text-crop.eightshapes.com/
@mixin text-crop($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 9;
    $bottom-crop: 10;
    $crop-font-size: 36;
    $crop-line-height: 1.2;

    // Apply values to calculate em-based margins that work with any font size
    $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
    $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;

    // Mixin output
    line-height: $line-height;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
    }

    &::after {
        margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
    }
}
// Mixin generated at: http://text-crop.eightshapes.com/?typeface-selection=custom-font&typeface=Lato&custom-typeface-name=Helvetica&custom-typeface-url=&custom-typeface-weight=400&custom-typeface-style=normal&weight-and-style=100&size=36&line-height=1.2&top-crop=9&bottom-crop=10

/* Usage Examples
    .my-level-1-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 48px;
        margin: 0 0 0 16px;
    }

    .my-level-2-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 32px; // Don't need to change any settings, will work with any font size automatically
        margin: 0 0 0 16px;
    }

    .my-body-copy-class {
        @include text-crop($line-height: 2); // Larger line height desired, set the line height via the mixin
        font-size: 16px;
    }

    // Sometimes depending on the font-size, the rendering, the browser, etc. you may need to tweak the output. 
    // You can adjust the top and bottom cropping when invoking the component using the $top-adjustment and $bottom-adjustment settings 
    
    .slight-adjustment-needed {
        @include text-crop($top-adjustment: -0.5px, $bottom-adjustment: 2px);
        font-size: 17px;
    }

    .dont-do-this {
        @include text-crop;
        font-size: 16px;
        line-height: 3; // DO NOT set line height outside of the mixin, the mixin needs the line height value to calculate the crop correctly
    }
*/