// *********************
// URL PATHS & Variable Defaults
// *********************/ 
	$font-path: '../fonts/' !default;
	$imgs-path: '../imgs/' !default;
	$icomoon-font-family: "icomoon" !default;

// colors from original
	$magenta:	#FF15D8;
	$magentaAlt-1:	#F000C8;
	$magentaAlt-2:	#D600B3;
	$pink:		#FFC5FF;

	$blue:		#004BFF;
	$blueA:		rgba(0,75,255,0);
	$sky: 		#6DCFF6;
	$skyA: 		rgba(109,207,246,0);

	
	$teal:		#00D587;
	$tealAlt:	#00A86B;
	$mint:		#9EF3C7;
	$mintV:		#aff3cd;
	$mintRGB:	rgb(175, 243, 205);
	$mintHSL:	hsl(146,74,82);

	$yellow:	#FFF685;
	$yellowA:	rgba(255, 246, 133, 0);
	
	$blackLt:	#111111;
	$blackLtA:  rgba(17,17,17,0);
	
	$white:		#FFFFFF;
	$whiteA: 	rgba(255,255,255,0);

	$greyDk:	#666666;
	$greyLt:	#DDDDDD;
	$greyUlLt:	#F4F4F4;

// colors from styleguide
	$sand:			#80715f;
	$stone:			#A29B95;

	$red:			#AD2424;

// Only for gradients
	$color-stop-1:	$magenta;
	$color-stop-2:	#6236F0;
	$color-stop-3:	#962BE8;
	$color-stop-4:	$blue;


	$color-background-primary: $white;
	
	
	$color-transparent: rgba(35, 31, 32, .95) none repeat scroll 0 0;
	
	$color-error: $red;
	
	$color-message: #31708f;
	$search-primary-color: $white;


	$color-primary:		$magenta;
	$color-secondary:	$blue;
	$color-tertiary:	$teal;
	$color-base-text: $blackLt;


	$color-background-attention: $color-primary;
	$color-warning: $color-secondary;
	$color-success: $color-primary;

	$color-border: darken( $color-tertiary, 20%);