/****
Responsive Stylesheet, 767px max.
****/

iframe {
    max-width: 100vw;
}

.onepage {
    max-width: 100%;
    padding: 0 3%;
    width: 100%;
   top: auto;
}

#footer {
   /*min-height: 100vh;*/ /*Removed*/
    width: 100%;
    max-width: 100%;
    background-size: 35%;
    height: 240px;
}

.centering_box:not('#container') {
    max-width: 95% !important;
}


/* header */

#header {
    padding: .25em 0;
    width: 100%;
    position: relative;
}

.desktop_only {
    display: none;
}

.mobile_only {
    display: block;
}

.header_inner.mobile_only {
  
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.header_inner nav,
.header_inner div {}

.header_inner nav.menu_nav {
    width: 15%;
    padding-top: 0;
    order: 3;
}

.header_inner nav.searcher {
    width: 15%;
    padding-top: 0;
}

.logo {
    width: 70%;
}

.logo img {
    height: auto;
    max-width: 120px;
    width: 100%;
   
}

/* burger time */

.burger-wrap {
padding: 10px;
}

.burger-container {
  width: 30px;
  height: 26px;
  position: relative;
  margin: 10px;
  cursor: pointer;
      margin-bottom: 0;
}

.burger-container span {
  background: #323b43;
  display: block;
  position: absolute;
  height: 5px;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);

  opacity: 1;
  width: 100%;
}

.burger span {
  border-radius:10px;
  left: 0;
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger span:nth-child(2), .hamburger span:nth-child(3) {
  top: 10px;
}

.burger span:nth-child(4) {
  top: 20px;
}

#btnControl {
    display: none;
}

#btnControl:checked + .add-heat label > div > span:nth-child(1) {
  
  width: 0%;
  left: 50%;
}

#btnControl:checked + .add-heat label > div > span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
}

#btnControl:checked + .add-heat label > div > span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 10px;
}

#btnControl:checked + .add-heat label > div > span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}



.burger-time label { 

}

.burger-time ul#menu-main { display: none; }

#btnControl:checked + .add-heat ul#menu-main { 
    display: block;
    background: #ff15d8;
    position: absolute;
    padding: 1em;
    z-index: 999; 
    left: 0;
    right: 0;
}

.burger-time label:active .add-heat ul#menu-main { display: none;  }

.burger-time .text_assist {
    font-size: 11px;
    line-height: 2;
    text-align: center;
    display: block;
    width: 50px;
}

/* end burger service*/

ul#menu-main li {
    list-style: none;
    margin-left: 0;
    margin-bottom: .5em;

}

ul#menu-main li a {
    color:  #fff;
}

.mobile_expansion:checked + label .text_assist {
    margin-top: 20px;
    margin-top: 20px;
    margin-left: -9px;
}

.mobile_expand {
    background: none repeat scroll 0 0 #f2f2f2;
    left: 0;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    position: absolute;
    top: 73px;
    width: 100%;
    z-index: 50;
}

input#mobile_expand_search {
    height: 0;
    width: 0;
}

.mobile_expand.right {
    right: 0;
    left: inherit;
}

.mobile_expand input {
    padding: 1em;
    width: 100%;
    border: 0;
    border-top: 2px solid #111;
}

.mobile_expand ul {
    margin-bottom: 0;
}

.mobile_expand li {
    list-style: outside none none;
}

.mobile_expand li a {}


/* flexbox redirect */

.flexible,
.topmenu ul,
.topmenu li,
.storymodule:nth-child(even) .flexible {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.flexible.twocol > div,
.flexible.twocol > .col,
.flexible.leftweighted .col:first-child,
section.socialink-module .flexible.twocol.imagecolumns > div.imgholder,
section.socialink-module .flexible.twocol.imagecolumns > div.textholder,
section.socialink-module.module-key-statistic p,
.archive_post .mainpost,
.content article.archive_post.grid_type,
.filter_containers .filterselectors .tablefilter {
    width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}


/* full width and margin bottom only (useful for flex items) */

.flexible,
.topmenu li {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em;
}


/* clear floats  */

.sidebar,
.content,
.topmenu ul,
.topmenu ul li,
.footermenu .col,
.sitecredits,
.sinkcredits,
.menu_indicator,
.footer_inner .socialmedia,
.tagline,
header .search_container,
.col {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

nav {
    float: none;
}


/* center text */

.logo,
.menu_indicator,
.search_container {
    text-align: center;
}


/* center block level items */

.logo {
    
    margin-right: auto;
    margin-left: 0;
    text-align: left;
}


/* margin adjustments */

.search_container {
    margin-bottom: 1.2em;
}


/* padding adjustments */

.content,
.storymodule .textholder,
section.socialink-module.module-key-statistic .textholder,
section.socialink-module.imagecolumns .textholder,
section.socialink-module.module-membergreeting .textholder {
    padding: 1em;
}

.fp_section.add_modules {
    padding: .5em;
}

.home .onepage,
section.socialink-module .textholder {
    padding: 0;
}

.onepage,
.home .onepage {
    padding-bottom: 50px;
}


/* width adjustments */

.search_container input {
    width: 80%;
}


/* increase font size */

.mobile_friendly {
    font-size: 1.5em;
}


/* unconstrain height */

.slideshow img {
    height: auto;
}


/* bg position */

.herospot {
    background-position: bottom right; /*Changed from center center*/
}


/* other, more specific rules */

.home .herospot .fp_layout {
    top: 0;
}

.home .herospot .fp_layout .cappy {
    font-size: .5em;
}

.vidholder .indicative {
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

.vidholder {
    margin-top: -2em;
}

.vidholder .titular {
    font-size: .8em;
    margin-top: -1em;
}

.fp_section.add_icons {
    margin-bottom: 1em;
}

.storymodule .flexible {
    margin-top: -15px;
    margin-bottom: -2px;
}

.storymodule-connect {
    height: 80px;
}

.storymodule .animated svg {
    width: 80%;
    height: 70px;
    margin: auto;
    display: block;
}

.storymodule h2 {
    font-size: 2em;
}

.subfooter {

}

/*added this from styles to make font smaller*/
.slideinner {
    font-size: 0.7rem; /*Changed from 1.2em*/
}

.menu-blockified > ul {
    display: block;
    margin-top: 2em;
}

.menu-blockified > ul > li > a {
    margin-bottom: 0;
}

.menu-blockified > ul > li:first-child > a {
    margin-bottom: 1em;
}

footer ul.sub-menu {
    margin-bottom: 1em;
}

.footerdonate h5 {
    padding: 0 26px;
}

.footerdonate {
    margin-bottom: 2em;
}

.sitecredits p {
    margin-top: 1em;
}

.pageinfo h1 {
    font-size: 2em;
}

section.socialink-module.module-key-statistic {
    margin-left: -2em;
    margin-right: -2em;
}

.slideshow_area.herospot {
    background-position: center center;
    background-size: cover;
    height: auto;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 48px;
}

.slideshow_area div.slide {
    background-position: center center;
    background-size: 100%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
}

.slidecaption {
    bottom: 0;
    width: 100%;
}

.slide_nav {
    display: none;
}

.metadatum .meta_item .lbl {
    display: block;
}

.results_container {
    background: transparent;
}

.results_container .mainpost {
    background: #fff;
}

nav.socialink-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: .6em;
}

.logged-in .subfooter .socialmedia,
.subfooter .socialmedia {
    height: auto;
    margin-top: 15px;
}

.logged-in.admin-bar #header {
    top: 0;
}

.header-image-text {
    margin-bottom: 1em;
    top: 25px;
    position: relative;
    background-image: url(images/bg_hero_split.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
}

.header-image-text-inner .col {
    width:  90%;
}


.header-image-text-inner .col.imagecol {
    margin-bottom: 1em;
}

.archive_post.griditem {
    width:  100%;
}

.module-addcontent .module_inner {
    flex-direction: column;
}

.subfooter {
   
    /*height: calc(100vw / 2);*/ /* Removed */
    height: 170px;
    /*width: 80%;*/ /* Removed */
    /*margin-top: calc(-1 * (100vw / 3));*/ /* Removed */
    /*padding: 50px 50px 145px 40%;*/ /* Removed */
    background-position: right;
}

.subfooter .carousel-container {
    display: none;
}

.footer_inner {
    align-items: center;
}

.footercredits {
    text-align: center;
}

.footermenu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    font-weight: 700;
    font-size: .8em;
    align-items: center;
    padding-right: 2em;
    position: absolute;
    bottom: 1em;
    justify-content: center;
    padding-right: 0;
}


.userfunctions-footer > .flexible > a:first-child {
    display: inline-block;
    margin-bottom: 1em;
}

.userfunctions-footer {
    margin-right: 0;
}

.userfunctions-footer a.button {
    margin-left: 0;
}

.home .logo {
    margin-top: 0;
}

.herospot {
    top: 0;
}

body.home .herospot {
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.hero-buttons {
    bottom: 18%;
}

.mepr-price-menu.minimal_horizontal .mepr-price-boxes.mepr-2-col .mepr-price-box, .socialink-modified .mepr-price-menu.minimal_horizontal .mepr-price-boxes .mepr-price-box, .socialink-modified .mepr-price-box {
    width:  100%;
    margin-bottom: 1em;
    margin-right: 0;
}

.home .mepr-price-menu.minimal_horizontal .mepr-price-boxes.mepr-2-col .mepr-price-box, 
.home .socialink-modified .mepr-price-menu.minimal_horizontal .mepr-price-boxes .mepr-price-box, 
.home .socialink-modified .mepr-price-box {
    width: 90%;
}

.socialink-modified .mepr-price-boxes {
    flex-wrap: wrap;
    justify-content: center;
 }

 .founder_column {
    width: 100%;
    padding-bottom: 0;    
 }

 .join-section {
     margin: 0;
         margin-top: 0px;
     margin-top: 2em;
 }

 .founder_column .column_contents iframe {
     width: 100%;
     height: auto;
  
 }

 .founder_column:nth-child(2) {
    padding: 1em;
    padding-bottom: 100px;
 }

 .sinkcredits {
    padding: 1em;
    font-size: .7em;
    position: absolute;
    bottom: 100px;
 }

 .header-image-text-inner .textcol a.button {
     display: inline-block;
     margin-bottom: 1em;
 }

 blockquote {
    margin: 0 auto 30px auto;
    max-width: 340px;
    font-size: 1em;
 }

 .text blockquote  strong.byline {
    line-height: 1.2;
    display: block;
 }


 body.home .herospot.hero-embed {
    height: calc(100vw / 1)
    background-position: center center; /*added*/
    background-size: cover;  /*added*/
 }

 .home video {
    height: calc(100vw / 1.8)
 }

 .home .onepage .copy .text {
     min-width: 0;
     max-width: none;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     width: 95%;
 }

 .home .onepage {
    margin-top: 0;
 }

 .hero_caption {
    bottom: 10%;
    font-size: .85em;
 }

 .userheader_overview {
     width: 100%;
     margin: 0;
 }

 .userfunctions-header {
     width: auto;
     margin-left: -10px;
     margin-right: -10px;
     margin-top: -10px;
 }

 .mindup-userfunctions.opened .userheader_more {
     display: block;
     padding: 1em;
     width: 100%;
 }

 ul.menu-logged-out li {
    list-style: none;
 }

 ul.menu-logged-out {
     display: flex;
     align-items: center;
     margin-top: -46px;
 }

 .logged-in-user-0 .userfunctions-header {
     margin-top: 66px;
     margin-right: 10px;
     font-size: .7em;
 }

 header.mainheader {
     padding: 1em;
     text-align: center;
     margin-left: -3%;
     margin-right: -3%;
     font-size: .6em;
 }

 .module-addcontent .archive_post .featimg {
    min-height: 0;
    margin: 0;
    padding: 0;
    justify-content: center !important;
 }

 .archive_post.griditem h2 {
     margin-top: 10px;

 }

 .hero-none .onepage {
     animation: hueshifter 15s linear 1s infinite;
     margin-top: 0;
     padding-top: 3%;
 }

 .hero-none .content {
    padding: 2em;
 }

 .course-widget-header .flexible .col {
    width: 100%;
    margin-bottom: 3%;
 }

 .learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-list-item-preview .ld-item-details {
    margin-left: 0;
    margin-top: 10px;
 }

 

 .learndash-wrapper iframe {
    max-height: calc(100vw / 2);
 }

 .single-sfwd-lessons .content.centering_box {
     max-width: 100%;
 }

 .course-widget-header {
    margin-bottom: 1em;
 }

 .course-widget-header {
    margin-top: 0;
 }

 div#mepr-account-nav {

     font-size: .7em;
 }

 #ld-profile {
     display: flex;
     flex-direction: column;
 }

 .learndash-wrapper .ld-profile-avatar {
     margin: auto;
     margin-bottom: 1em;
 }

 .learndash-wrapper #ld-profile .ld-section-heading .ld-expand-button {
  max-width: 150px;
 }

 .ld-course-title {
     font-size: .8em;
  }