/***** 
STYLE GUIDE
*****/


.sg-color {
	border: none;
}
.sg-color--a {
	background-color: $color-primary;
}

.sg-color--b {
	background-color: $color-secondary;
}

.sg-color--c {
	background-color: $color-tertiary;
}


.sg-h1, .sg-h2, .sg-h3 {
	font-family: $font-primary;
}

.sg-section .background_image {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding: 3em;
	min-height: 400px;
	max-width: 800px;
}

/* generic guide visuals */


.sg-header.sg-container {
	background-color: $color-primary;
	position: fixed;
	width: 100%;
}

.sg-logo {
	color: #fff;
}

.sg-btn--top {
    font-size: .8em;
}

.sg-h1 {
	font-size: 2.25em;
	font-weight: bold;
	padding-bottom: .2em;
	margin-bottom: 0;
	color: #777;
}

.sg-h2 {
    border-bottom: 1px solid #ddd;
    font-size: 1.75em;
    margin-bottom: .5em;
    text-transform: capitalize;
    padding-bottom: .4em;
}

.sg-h3 {
	font-size: .65em;
	text-transform: uppercase;
	font-weight: 900;
	color: #80715f
}

.sg-section fieldset div {
	margin-bottom: 2em;
}

.js .sg-btn--source {
	display: block;
    font-size: .6em;
    background: #A29B95;
    color: #f2f2f2;
    padding: .25em .75em;
    border-radius: 2px;
    font-family: Monaco, Monospace;
    margin-bottom: 1em;
}

.sg-pattern-styles {
	padding: 1em;
}

.sg-anchor {
    display: block;
    padding: .5em;
    background: #f2f2f2;
    margin-top: 2em;
}

span.i-code {
	display: none;
}

.the-icons {
	font-size: 1.7em;
	line-height: 1.7;
}

	.the-icons i:before {
		color: $color-primary;
		    min-width: 80px;
	}
