$max-centering: none;
$legible-max-width: 95%;
$color-primary: #FF15D8;
$color-secondary: #004BFF;
$color-tertiary: #00D587;
$color-background-primary: #fff;
$color-background-attention: $color-primary;
$color-border: darken( $color-tertiary, 20%);
$color-transparent: rgba(35, 31, 32, .95) none repeat scroll 0 0;
$color-base-text: #111;
$color-error: #AD2424;
$color-warning: $color-secondary;
$color-success: $color-primary;
$color-message: #31708f;
$search-primary-color: #fff;
$font-primary: 'AvantGardeGothicITCW01Md';
$font-secondary: 'AvantGardeGothicITCW02Bd';
$border-thin: 1px solid $color-border;
$border-emphasis: 1px solid darken($color-border, 50%);
$border-thick: 3px solid $color-border;
$drop-shadow-module: 1px 1px 4px 2px #CCCCCC;
$drop-shadow-button-hover: 0 4px 7px rgba(0, 0, 0, .23),
0 8px 25px rgba(0, 0, 0, .05);
$drop-shadow-button-press: inset 0 4px 7px rgba(0, 0, 0, .23),
inset 0 8px 25px rgba(0, 0, 0, .05);
$inset-shadow: inset 0 0 4px 2px #333;
$round-corners: 2px;
$transition-default: all 0.2s ease-in-out;
$hero-width: 1240;
$hero-height: 413;
$aspect-ratio-hero: #{$hero-width / $hero-height};

/* divisor is the proportion of image width divided by height, eg 1040/400=2.6 */


@import '../assets/css/wp.basic.css';
@import '../assets/css/forms_cf7.css';
@import '../assets/css/print.css';

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap'); */

/*****************
INITS
***********************************************/



html {
    font-family: $font-primary;
}


body {
    font-family: $font-primary;
    width: 100%;
    color: $color-base-text;
    font-size: 17px;
    background: $color-background-primary;
    margin: 0;
    font-weight:400;
}


/*****************
CONTAINER AND COMMON DIVS
***********************************************/

#container {
    width: 100%;
    min-height: 600px;
    position:relative;
}

.clearfix {
    clear: both;
}

.centering_box,
.notfound404,
.search-results .pageinfo {
    width: 100%;
    max-width: $max-centering;
    margin-left: auto;
    margin-right: auto;
}

.centering_box.extended_centering {
    max-width: inherit;
    width: 95%;
}

.onepage {
    clear: both;
    position: relative;
    padding-top: 1em;
}

.copy .text {
    max-width: $max-centering;
}

.copy .text p,
.copy .text h1,
.copy .text h2,
.copy .text h3,
.copy .text h4,
.copy .text h5,
.copy .text h6,
.copy .text blockquote,
.pageinfo,
.modheader,
.module_inner,
.mp_wrapper,
.nf-form-wrap { /* this is here due to client request for 'full bleed' images within content flow */
    max-width: $legible-max-width;
    margin-left:auto;
    margin-right: auto;
}

.module-heroimage .module_inner,
.text .mp_wrapper p,
.mp_wrapper .mp_wrapper {
    max-width: 100%
}

.copy .text img.size-full.aligncenter {
    ;
    margin-left: -2.5%;
    margin-right: -2.5%;
    display: block;
    width: 106%;
    max-width: none;
    margin-top: 2em;
    margin-bottom: 2em;
}


.dismissable,
.expandable {
    display: none;
}

.mobile_only {
    display: none;
}

    .mobile_expansion+label {
        font-size: 2.4em;
        color: $color-primary;
        cursor: pointer;
        content: "";
        display: inline-block;
        width: 32px;
        height: 27px;
        margin-top: .2em;
        border-top: 16px double;
        border-bottom: 5px solid;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .menu_nav input[type="checkbox"] {
        width: 0;
    }

.desktop_only {
    display: block;
}


/*****************
COMMON DIV DECORATION
***********************************************/

svg {
    height: inherit;
}

.shadow_module {
    box-shadow: $drop-shadow-module;
}

.round_module,
.btn,
.button button {
    border-radius: $round-corners;
}

.round_module:hover,
.btn:hover,
button:hover,
.button:hover {
-webkit-transition: all 0.2s ease-in-out;
cursor: pointer;
color: #333;
border: 1px solid #333;
}

.round_module:active,
.btn:active,
button:active,
.button:active {
    box-shadow: $drop-shadow-button-press;
    opacity: .8;
    filter: alpha(opacity=80);
    -webkit-transition: $transition-default;
    transition: $transition-default;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: .65;
}

.socialmedia a:hover,
.visualized_icon:hover,
a[class^="icon-"]:hover {
    text-decoration: none;
}


/*****************
COMMON MARKUP
***********************************************/

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.text a {
    text-decoration: none;
    color: $color-primary;
}

.text a.button {
    color:#fff;
}

a:hover {
    text-decoration: underline;
    color: $color-secondary;
    -webkit-transition: $transition-default;
    transition: $transition-default;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
}

ol li {
    padding-left: 0;
    list-style-type: decimal;
    margin-left: 1em;
}

ul li {
    list-style: disc;
    margin-left: 1em;
}

ul li:first-child {
    margin-left:0;
}

ul li ul li {
    list-style: circle;
}

ul li ul li ul li {
    list-style: square;
}

.topmenu ul li {
     font-family: $font-secondary;
}

blockquote {
    font-style: italic;
    padding: 0 1em;
        font-size: 1.52em;
        z-index: 1;
        position: relative;
}

blockquote:before {
    content: '“';
    color: #eaeaea;
    font-size: 13em;
    float: left;
    z-index: 0;
    position: absolute;
    top: -168px;
    left: -84px;
}

blockquote strong.byline {
    font-style: normal;
    font-size:.7em;
        font-family: 'AvantGardeGothicITCW02Bd';
        font-weight: 900;
}

blockquote strong {

}

blockquote.left {
    float: left;
    margin-left: 0;
    margin-right: 1.2em;
    text-align: right;
    width: 33%;
}

blockquote.right {
    float: right;
    margin-left: 1.2em;
    margin-right: 0;
    text-align: left;
    width: 33%;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: .6em;

    font-family: $font-secondary;
}

h1 {
    font-size: 3.2em;
    color: #000;
}

h2 {
    font-size: 1.7em;
    color: $color-primary;
    font-family:$font-secondary;
}

.fancyfont {
    font-family:$font-secondary;
}

.subtitle h2 {
    font-size: 1em;
    color: $color-secondary;
}

h3 {
    font-size: 1.7em;
    margin-bottom: 1em;
}

h4 {
    margin-bottom: 1em;
}

h5 {
    margin-bottom: 1em;
    font-size: .85em;
    color: $color-secondary;
}

.copy h1 + h5 {
    margin-top: -2.5em;
    margin-bottom: .2em;
}

.copy h3 + h4 {
    // margin-top: -.6em;
    // margin-bottom: 2em;
}

p {
    font-size: 1em;
    margin-bottom: 1.5em;
    margin-top: 0;
    line-height: 1.5em;
    margin-top: 0;
}

input {
    padding: .5em;
    border-bottom: 1px solid #bfbfbf;
    font-family: $font-primary;
    border: none;
    border-bottom: $border-thin;
}

input:active,
input:focus {
    border-bottom: $border-thick;
    outline: none;
}

input:required {
    border-bottom: $border-emphasis;
}

input.short {
    max-width: 50px;
}

input.medium {
    max-width: 100px;
}

input[type="search"] {
    border: none;
    background: $color-primary;
    color: #fff;
}

input[type="submit"],
input[type="button"] button.submit,
.button.submit {
    border-radius: $round-corners;
}

input[type="submit"]:hover,
button.submit:hover,
.button.submit:hover {
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline;
    margin-right: .2em;
    line-height: 1;
}

input[type="file"] {
    display: block;
}

input[type="range"] {
    display: block;
    width: 100%;
}

select[multiple],
select[size] {
    height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
}

.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
    cursor: not-allowed;
}

.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
    cursor: not-allowed;
}

textarea {
    border: $border-thin;
    width: 100%;
    
    padding: .5em;
}

textarea:active;
textarea:focus {
    border: $border-thick;
    outline: 0;
}

label {
    display: block;
    font-size: .8em;
    color: inherit;
    margin-bottom: .2em;
}

label.required {
    color: $color-primary;
}

address {
    padding-left: 1em;
    border-left: 1px solid $color-primary;
    margin-bottom: 1em;
}

mark {
    background: #EBF3E6;
    padding: 0 .25em;
}

table {
    background-color: transparent;
}

.sink_icon {
    width: 20px;
    display: inline-block;
}

.sink_icon svg {
    width: 100%;
}

.sink_img {
    width: 100px;
    display: inline-block;
}

.sink_img svg {
    width: 100%;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

th {
    text-align: left;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > tbody + tbody {
    border-top: 2px solid #ddd;
}

.table .table {
    background-color: #fff;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}


/* patterns and interaction */

.alert-success {
    background: lighten( $color-success, 40%);
    color: $color-success;
    border-color: lighten( $color-success, 20%);
}

.alert-warning {
    background: lighten( $color-warning, 40%);
    color: $color-warning;
    border-color: lighten( $color-warning, 20%);
}

.alert-error {
    background: lighten( $color-error, 40%);
    color: $color-error;
    border-color: lighten( $color-error, 20%);
}

.alert-info {
    background: lighten( $color-message, 40%);
    color: $color-message;
    border-color: lighten( $color-message, 20%);
}


/*****************
    SEARCHBAR
    ***********************************************/

a.headersearch {
    color: $color-primary;
    display: inline-block;
}

a.headersearch svg {
    fill: $color-primary;
}

a.headersearch:hover,
a.headersearch.expanded {
    color: $color-secondary;
    text-decoration: none;
}


a.headersearch:hover svg,
a.headersearch.expanded svg {
    fill: $color-secondary;
}




.search_container {
    background: $color-primary none repeat scroll 0 0;
    display: none;
    position: relative;
    left: 0;
    padding: 1em;
    /* position: absolute; */
    top: 0;
    width: 100%;
    z-index: 10000;
    margin-bottom: 1em;
}

.search_container form {
    width: 90%;
}

.search_container .flexible {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.cancel_search {
    color: $search-primary-color;
}

.cancel_search:before {
    content: '×';
    display: block;
    font-size: 1.5em;
}

.search_container .search_input {
    background: $color-primary;
    color: $search-primary-color;
    font-size: 1.3em;
    text-transform: uppercase;
    width: inherit;
    border: 0;
    font-family: $font-secondary;
}


/*****************
        MODULES
        ***********************************************/

.socialink-module {
    margin: 2em 0;
    padding: 1.5em 0;

    .module_inner {
        position:relative;
    }

    h2 {
    color: inherit;
    margin-bottom: 1em;
    text-align: center;
    }
}


/*****************
        GRID
        ***********************************************/

.content .related_grid_inner {
    flex-wrap: wrap;
}

.content .flexible.related_grid_inner article.archive_post {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
            min-height: 200px;
            width: 33%;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    max-width: 300px;
                    max-height: inherit;
}

.content .related_grid_inner article.archive_post .featimg {
    margin-right: 0;
}
.content .related_grid_inner article.archive_post .mainpost {
    padding: 1em;
}

/*****************
        LAYOUT
        ***********************************************/

.menu-blockified {}

.menu-blockified > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2em;
}

.menu-blockified > ul > li {
    margin-left: 0;
    list-style: outside none none;
}

.menu-blockified > ul > li > a {
    display: block;
    margin-bottom: 1em;
}

.menu-blockified > ul > li ul li {
    list-style: outside none none;
    margin-bottom: 1em;
    margin-left: 0;
}

.menu-blockified > ul > li ul li a {}

.flexible {
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-webkit-flex-direction:row;
    -ms-flex-direction:row;
        flex-direction:row;
-webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
-webkit-box-pack:justify;
-webkit-justify-content:space-between;
    -ms-flex-pack:justify;
        justify-content:space-between;

}

.flexible.twocol {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flexible.twocol > div,
.flexible.twocol > .col {
    width: 47%;
}

.flexible.threecol {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flexible.threecol > div,
.flexible.threecol > .col {
    width: 30%;
}

.flexible.dialog {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


/*****************
            TABS
            ***********************************************/

section.tabbed {
    background: #cbcdce none repeat scroll 0 0;
    margin-top: 0;
}

.tabs-menu-inner.flexible {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
}

.tabs-menu a {
    background: #ececed none repeat scroll 0 0;
    display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
    min-height: 15vh;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    width: 32%;
}

.tabs-menu a .indicator {
    color: #49c5f2;
    display: block;
    font-size: 2em;
}

.tab {
    background: #fff none repeat scroll 0 0;
    min-height: 30vh;
    padding: 2em;
}

.tabs-menu a.active,
.tabs-menu a:hover {
    background: #fff;
    text-decoration: none;
    color: #ff0101;
}

.herospot {
    width: 100%;
    height: calc(100vw / #{$aspect-ratio-hero})
}

.herospot iframe {
    height: calc(100vw / 2);
}

/* tweaner widths */

@media (min-width: 769px) and (max-width: $max-centering) {
    .onepage {
        padding: 1em;
    }
}

/* Accessibility Additions */

#skiptocontent {

}

    #skiptocontent > a {
    position: absolute;
    top: 0;
    left: -160px;
    background: #cf2020;
    color: #fff;
    padding: 0.25em 0.75em;
    text-decoration: underline;
    display: inline-block;
    transition: all 0.2s ease;
    width: 160px;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    }

    #skiptocontent > a:focus {
        left: 0px;
    }

a:not(.skipping_button):not(.dont_highlight):focus,
.accessible_highlight {
    transition: all 0.2s ease;
    // background: #ffff66 !important;
}


.select2-container--default .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #aaa;
    min-height: 40px;
    display: flex;
    align-items: center;
    border-radius: 0;
    font-size: 13px;
}

.select2-container--default .select2-selection--multiple:after {
    content:'›';
    margin-right: 5px;
}

/* G Overrides */

.grecaptcha-badge {
     display: none !important;
}


/* Internet Explorer Fixes */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */

    body {

    }
}

/* fixed position scrollbar hide */


.noscrollbar::-webkit-scrollbar { width: 0 !important }
.noscrollbar { overflow: -moz-scrollbars-none; }
.noscrollbar { -ms-overflow-style: none; }
.noscrollbar {scrollbar-width: none}