// styling and overriding bootstrap card panels

// new founder columns
  %new-founder-columns {
    // border: 1px solid #0f0;
    margin: rem(17) 0 rem(34) 0;
    .card-col { padding-left: rem(17); padding-right: rem(17);
      .card {
        padding: rem(27) rem(17);
        margin: rem(17) rem(17) rem(17) rem(17);
        border-radius: rem(10);
        background-color: unset;
        background: $white;
        
        .card-img-top {}
        .card-body { padding: rem(27) 0 0 0; //override bootstrap
          .card-text {
            font-family: $font-primary;
            font-size: rem(15);
            line-height: rem(23);
            color: $blackLt;
            margin: 0 auto;
            width: 95%;
          }
        }
        .card-footer {
          border-top: 0 none transparent;
          background: transparent;
          padding: 0 0 0 0; //override bootstrap
          p { margin: 0 auto; width: 95%; }
          .btn { margin: 0; }
        }
      }

      &:first-child { }

      &:last-child { }
    }

    &.logo-cards {
    	// border: 1px solid #0f0;
    	.card-col {
    		.card {
    			.card-img-top {}
    			.card-body {
    				.card-text {  }

    			}
    			.card-footer { padding: rem(17) 0 0 0; } //override bootstrap }
    		}
    		&:first-child { .card {  } } 
    		&:last-child	{ .card {  } } 
    	}

    	&.logo-copy {
    		// border: 1px solid #aca;
    		.card-col {
    			.card {
    				.card-img-top {}
    				.card-body {
    					.card-text {  }

    				}
    				.card-footer { padding: 0 0 0 0; } //override bootstrap 
    			}
    			&:first-child { .card {  } } 
    			&:last-child	{ .card {  } }
    		}
    	}

    	&.two-up {
    		// border: 1px solid #cac;
    		.card-col {
	    		.card {

	    			.two-logos {
	    				display: flex;
		    			flex-direction: row;
		    			max-width: 340px;
    			    margin: 0 auto;
    			    justify-content: center;
		    			.card-img-top {
		    				flex: 0 0 50%;
		    				max-width: 50%;
		    				padding: 0 rem(10);
		    				border-radius:0;
		    				height: auto;
		    				max-height: 75px;

		    				&:first-child { border-right: 1px solid $blackLt; }
		    				
		    			}
		    		}
	    			.card-body {
	    				.card-text {  }
	    			}
	    			.card-footer { padding: 0 0 0 0; } //override bootstrap }
	    		}
	    		&:first-child { .card {  } } 
	    		&:last-child	{ .card {  } } 
	    	}
    	}
    }
    
    &.header-cards {
    	// border: 1px solid #f00;
    	.card-col {
    		.card {
    			.card-body { padding: 0 0 0 0;
    				.card-text {
    					&.header {
    						font-family: $font-secondary;
    						font-size: rem(23);
    						line-height: rem(23);
    						color: $blackLt;
    						text-align: center;
    						margin-bottom: rem(27);

    					}

    				}

    			}
    			.card-footer {  }
    		}
    	}
	    &.cta {
	    	// border: 1px solid #af0;
	    	.card-col {
	    		.card {
	    			border-radius: rem(34);
		    		.card-body {
			    		.card-text {
	    					&.header { color: $white; }
	    					color: $white;
	    					font-family: $sans-bold;
	    				}
	    			}
	    		}
    		&:first-child { .card { @include gradient-one($color-stop-1, $color-stop-2, 130deg); } }
				&:last-child	{ .card { @include gradient-two($color-stop-3, $color-stop-4, 130deg); } }
				&:only-of-type { .card { @include gradient-one($color-stop-1, $color-stop-4, 130deg); } }
	    	}
	    }
    }

    &.file-cards {
    	// border: 1px solid #00f;
    	.card-col {
    		.card {
    			.card-img-top {
	    				border-radius: 0 0 0 0;
	    				background-size: contain;
	    				background-position: center;
	    				background-repeat: no-repeat;
	    				height: rem(190);
	    				width: 100%;
	    				min-width: rem(176);
	    				// max-width: rem(340);
	    			}
    			.card-body {
    				.card-text {
    					font-family: $font-secondary;
    					text-align: center;
    				}

    			}
    			.card-footer { padding: 0 0 0 0; } //override bootstrap 
    		}
    	}

    	&.cta {
    		// border: 1px solid #caf;
	    	.card-col {
	    		.card {
	    			border-radius: rem(34);
	    			
	    			.card-body {
	    				.card-text {
	    					color: $white;
	    				}

	    			}
	    			.card-footer { padding: 0 0 0 0;  }
	    		}
	    		&:first-child { .card { @include gradient-one(); } }
	    		&:last-child	{ .card { @include gradient-two(); } }
	    		&:only-of-type { .card { @include gradient-one($color-stop-1, $color-stop-4, 130deg); } }
	    	}
	    }
    }

    &.video-cards {
    	// border: 1px solid #ff0;
    	.card-col {
    		.card {
    			max-width: 340px;
    			padding: unset;
    			padding: 0 0 rem(27) 0;

    			.card-img-top {
    				border-radius: rem(10) rem(10) 0 0;
    				background-size: cover;
    				background-position: center top;
    				background-repeat: no-repeat;
    				height: rem(170);
    				width: 100%;
    				max-width: rem(340);

    				&:before {
    					content: "";
    					background: url(#{$imgs-path}/ui/icon/video-50x50.svg) no-repeat center center;
    					background-size: contain;
    					height: 50px;
    					width: 50px;
    					position: absolute;
    					display: block;
    					left: calc((100% / 2) - 25px);
							top: calc((170px / 2) - 25px);
    				}

    			}
    			.card-body {
    				padding: rem(27) rem(17) 0 rem(17);
    				.card-text {
    					font-family: $font-primary;
    					font-size: rem(15);
    					line-height: rem(18);

    					&.bold { font-family: $font-secondary; }

    					&.date {
    						font-family: $font-secondary;
						    font-size: rem(12);
						    line-height: rem(14);
						    padding-bottom: rem(8);
						  }
    				}
    			}
    			.card-footer {
    				padding: 0 rem(17) 0 rem(17);

    				.video-cta {
    					margin: 0 auto;
    					width: 95%;
    					font-family: $sans-demi;
    					font-size: rem(14);
    					line-height: rem(17);
    					color: $color-primary;
    				}
    			}
    		}
    		&:first-child {  .card {  } } 
    		&:last-child	{  .card {  } } 
    	}
    }

    &.expert-cards {
    	// border: 1px solid #0ff;
    	.card-col {
    		.card {
    			max-width: 340px;
    			padding: unset;
    			padding: 0 0 rem(27) 0;
    			border-radius: rem(34);

    			.card-img-top {
    				border-radius: rem(34) rem(34) 0 0;
    				background-size: cover;
    				background-position: center top;
    				background-repeat: no-repeat;
    				height: rem(200);
    				width: 100%;
    				max-width: rem(340);
    			}
    			.card-body {
    				padding: rem(27) rem(17) 0 rem(17);
    				.card-text {
    					font-family: $font-secondary;
    					font-size: rem(14);
    					line-height: rem(17);
    					text-align: center;
    					
    					&.header {
    						font-size: rem(19);
    						line-height: rem(23);
    						margin-bottom: rem(14);
    					}
    					&.expert {
    						font-family: $font-primary;
    						color: $blackLt;
    						font-size: rem(14);
    						line-height: rem(17);

    						span { color: $blackLt; }
    					}
    				}
    			}
    			.card-footer {  }
    		}
    		&:first-child {  .card {  } } 
    		&:last-child	{  .card {  } } 
    	}
    }
  }

// Four Pillar cards
	%four-pillar-columns {
    margin: rem(17) 0 rem(34) 0;
    &.pillar-cards {
	    .card-col { 
	    	padding-left: rem(17); padding-right: rem(17);
	      margin: 0 0 rem(17) 0;
      
        .card {
          padding: rem(27) rem(17);
          margin: rem(17) rem(17) rem(17) rem(17);
          border-radius: rem(10);
          background-color: unset;
          background: $white;
  
          &:before {
          	content: '';
          	height: rem(10);
          	width: 100%;
          	background-color: $pink;
          	position:absolute;
          	top:0;
          	left:0;
          	border-radius: rem(10) rem(10) 0 0;
          }
  
  				.pillar-header {
      			display: flex;
  	    		flex-direction: row;
  	    			.card-img-top {
  	    				flex: 0 0 33.333333%;
  	    				max-width: 33.333333%;
  	    				padding: 0 rem(10);
  	    				border-radius:0;
  	    			}
  	    			.header-text {
  	    				flex: 0 0 66.666666%;
  	    				max-width: 66.666666%;
  	    				font-family: $font-secondary;
  	    				color: $color-primary;
  	    				font-size: rem(23);
  	    				line-height: rem(28);
  	    				margin-bottom: 0;
  	    			}
  
  	    	}
          .card-body { padding: rem(27) 0 0 0; //override bootstrap
            .card-text {
              font-family: $font-primary;
              font-size: rem(15);
              line-height: rem(23);
              color: $blackLt;
              margin: 0 auto;
              width: 95%;
            }
          }
      	}
      }
	  }
	}
