/*********************
INPUTS
*********************/

// setting up defaults
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
    display: block;
    font-family: $font-primary;
    border-radius: 0;
    font-size: 0.813rem !important; line-height: 0.938rem;
    // a focused input (or hovered on)
    &:focus,
    &:active, &.active {  border: 1px solid $color-primary !important; } // end hover or focus

    // error notification
    &.error,
    &.is-invalid {} // end invalid input

    // success notification
    &.success,
    &.is-valid {} // end valid input

    // a disabled input
    &[disabled],
    &.is-disabled {
        opacity: 0.6;
        cursor: not-allowed;
        border: 1px solid $greyLt;
        background-color: $white !important;
        color: $greyLt;

        &:focus,
        &:active {
            border: 1px solid $greyLt;
        } // end disabled focus
   
    } // end disabled input

    &::-webkit-input-placeholder {
        color: lighten($greyDk, 30%) !important;
    }

    &::-moz-placeholder {
        color: lighten($greyDk, 30%) !important;
    }
    &:-ms-input-placeholder {
        color: lighten($greyDk, 30%) !important;
    }
    &:-moz-placeholder  {
        color: lighten($greyDk, 30%) !important;
    }
} // end input defaults

// height to match buttons
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
select,
.field {
    border: 1px solid $greyLt !important;
    min-height: 35px;
}
textarea { border: 1px solid $greyLt !important; }

input[type="text"] {
    &.form-control-sm {
        min-height: calc(1.5em + 0.5rem + 2px);
    }
}

// spacing out the password (thx @murtaugh)
input[type="password"] {
    letter-spacing: 0.3em;
}

// textareas
textarea {
    max-width: 100%;
    width: 100%;
}

fieldset {
    border: 1px solid $greyLt;

    label {
        font-weight: 600;
    }

    p {
        margin-bottom: 0;
    }
}

legend {
    padding: 0 0.5em;
}

.radio-buttons {
    margin-top: 0;

    li {
        margin-left: 2px;
        list-style-type: none;
    }

    label {
        font-weight: normal;
    }
}
// remove number input spinners
    //chrome webkit
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }

    // firefox
    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
    }
    input[type="number"]:hover,
    input[type="number"]:focus {
        -moz-appearance: number-input;
    }