/**
 * @license
 * MyFonts Webfont Build ID 4002406, 2021-01-26T12:47:05-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: ITCAvantGardePro-XLt by ITC
 * URL: https://www.myfonts.com/fonts/itc/avant-garde-gothic/pro-extra-light/
 * Copyright: Copyright &amp;#x00A9; 2015 Monotype ITC Inc. All rights reserved.
 * 
 * 
 * 
 * © 2021 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3d1266");
  
@font-face { /* ultra light */
  font-family: 'ITCAvantGardePro-XLt';
  src: url('webFonts/ITCAvantGardePro-XLt/font.woff2') format('woff2'), url('webFonts/ITCAvantGardePro-XLt/font.woff') format('woff');
}

@font-face {
	font-family: 'AvantGardeGothicITCW01Md';
	src: url('webFonts/AvantGardeGothicITCW01Md/font.woff2') format('woff2'), url('webFonts/AvantGardeGothicITCW01Md/font.woff') format('woff');
}

@font-face {
	font-family: 'AvantGardeGothicITCW02Bd';
	src: url('webFonts/AvantGardeGothicITCW02Bd/font.woff2') format('woff2'), url('webFonts/AvantGardeGothicITCW02Bd/font.woff') format('woff');
}

@font-face {
	font-family: 'ITCAvantGardeW04Demi';
	src: url('webFonts/ITCAvantGardeW04Demi/font.woff2') format('woff2'), url('webFonts/ITCAvantGardeW04Demi/font.woff') format('woff');
}

@font-face {
	font-family: 'ITCAvantGardeProBk';
	src: url('webFonts/ITCAvantGardeProBk/font.woff2') format('woff2'), url('webFonts/ITCAvantGardeProBk/font.woff') format('woff');
}

@font-face {
	font-family: 'ITCAvantGardeW04BkObl';
	src: url('webFonts/ITCAvantGardeW04BkObl/font.woff2') format('woff2'), url('webFonts/ITCAvantGardeW04BkObl/font.woff') format('woff');
}

